.retellingForm {
  width: 100%;
  font-size: 25px;
  border: none;
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
  resize: vertical;
}
.retellingForm:focus {
  border: #fafafa;
  outline: none;
}
