.backgroung {
  width: 100%;
  background: #fafafa;
  border-radius: 20px;
  box-shadow: 8px 8px 8.8px 6px #00000040;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  margin-top: 20px;
  gap: 30px;
}
.name {
  font-size: 40px;
  padding-top: 20px;
  padding-left: 40px;
  font-weight: 200;
}

.collectionBlock {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.collectionButtonBlock {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #baa1ff;
  width: 95%;
  padding-left: 10px;
  margin-left: 35px;
}

.collectionButton {
  border: none;
  background-color: #fafafa;
}
.collectionButton p {
  font-size: 30px;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
}

.collectionButton:hover {
  cursor: pointer;
}


