.profileDiv {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  width: 100%;
}

.userInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.profileBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profileBlock img {
  height: 266px;
  width: 266px;
}

.profileBlock p {
  font-weight: 200;
  font-size: 40px;
}

.statusBlock {
  display: flex;
  flex-direction: column;
  margin-right: auto;

  gap: 10px;
  height: 100%;
}

.statusBlock p {
  font-weight: 200;
  font-size: 36px;
}
.quoteBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 3px solid rgb(158, 158, 158);
  padding-left: 5px;
  gap: 10px;
}
.quoteBlock p {
  font-weight: 200;
  font-size: 16px;
  width: 300px;
}
.quoteBlock img {
  width: 29px;
  height: 29px;
}

.statisticBlock {
  display: flex;
  justify-content: space-between;
}

.statisticList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.statisticElem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.statisticElem {
  font-size: 32px;
  font-weight: 200;
}
.statisticElem span {
  font-size: 48px;
}

.statisticNumb {
  font-size: 32px;
}

.editButton {
  font-size: 16px;
  background-color: rgba(158, 158, 158, 0.7);
  width: min-content;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 300;
  /* margin-top: 10px; */
  border: none;
  cursor: pointer;
}

.editFieldName {
  /* padding: 5px 10px;
  border-radius: 5px; */
  font-size: 18px;
  padding: 2px;
}

.editFieldBio {
  font-size: 14px;
  font-weight: 200;
  width: 100%;
  resize: vertical;
  max-height: 140px;
  min-height: 40px;
}