.item {
    display: grid;
    grid-template-rows: 5fr 2fr;
    border-radius: 20px;
    border: 2px solid black;
    width: 230px;
    height: 300px;
    box-shadow: 0px 4px 4px 0px #00000040;
    overflow: hidden;
  }
  
  .image {
    border-bottom: 2px solid black;
  }
  
  .name {
    padding: 10px 10px;
    /* overflow: hidden; */
  }
  
  .title {
    font-size: 25px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
  
  .author {
    font-size: 18px;
  }
  
  .tag {
    display: flex;
    gap: 8px;
    overflow: hidden;
  }
  
  .tag p {
    font-size: 14px;
    background-color: #06c9ff;
    border: 2px solid #029cc7;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    text-wrap: nowrap;
    padding: 2px 4px;
    margin-bottom: 5px;
  }
  