
.div {
  background-color: #fafafa;
  width: 100%;
  border-radius: 20px;
  box-shadow: 8px 8px 8.8px 6px #00000040;
  display: flex;
  padding: 30px 40px;
  margin-top: 20px;
  flex-direction: column;
}