.div {
  width: 90%;
  display: flex;
  gap: 0.75rem;
  flex-direction: row;
  padding-top: 0.75rem;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .div {
    flex-direction: column; /* Переключаем на вертикальное расположение на меньших экранах */
    width: 91.6667%; /* Увеличиваем ширину для мобильных устройств */
  }
}