:root {
  --border-size: 2px;
}

.mainContainer {
  display: grid;
  gap: 15px;
}

.privacy {
  border: none;
  font-size: 20px;
  padding: 7px 20px;
  border-radius: 20px;
}

.title {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  height: 60px;
}

.inputField {
  height: 100%;
  font-size: 22px;
  font-weight: 200;
  border: var(--border-size) solid #baa1ff;
  padding-left: 15px;
  border-radius: 20px;
}

.inputField:focus {
  outline: none;
  border-color: #845bf5;
}

.statInfo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.firstBlock {
  display: grid;
  gap: 5px;
}

.ratingArea {
  overflow: hidden;
  margin-left: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.ratingArea:not(:checked) > input {
  display: none;
}

.ratingArea:not(:checked) > .starLabel {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 46px;
  line-height: 46px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.ratingArea:not(:checked) > .starLabel:before {
  content: "★";
}

.ratingArea > input:checked ~ .starLabel {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.ratingArea:not(:checked) > .starLabel:hover,
.ratingArea:not(:checked) > .starLabel:hover ~ .starLabel {
  color: gold;
}

.ratingArea > input:checked + .starLabel:hover,
.ratingArea > input:checked + .starLabel:hover ~ .starLabel,
.ratingArea > input:checked ~ .starLabel:hover,
.ratingArea > input:checked ~ .starLabel:hover ~ .starLabel,
.ratingArea > .starLabel:hover ~ input:checked ~ .starLabel {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.ratingArea > .starLabel:active {
  position: relative;
}

.inputPages {
  font-size: 22px;
  font-weight: 200;
  width: 100px;
  height: 100%;
  border-radius: 20px;
  border: var(--border-size) solid #baa1ff;
  /* padding-left: 15px; */
  text-align: center;
  -moz-appearance: textfield;
  /* -webkit-appearance: none; */
}

.inputPages:focus {
  outline: none;
}

.dropdownInput {
  border: 3px solid #baa1ff;
  font-size: 25px;
  font-weight: 200;
  border-radius: 20px;
  height: 50px;
  width: 260px;
  padding-left: 50px;
  background-position: right 40px center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.open {
  background-image: url("../../../../assets/openIcon.svg"); /* Путь к изображению открытого замка */
}

.private {
  background-image: url("../../../../assets/lockIcon.svg"); /* Путь к изображению закрытого замка */
}

.dropdownInput:focus {
  outline: none;
}

.dateInputContainer {
  display: flex;
  height: 100%;
}

.dateInput {
  font-size: 20px;
  font-weight: 200;
  /* width: 180px; */
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: var(--border-size) solid #baa1ff;
  padding-left: 20px;
}

.dateInput:focus {
  outline: none;
}

.dateButton {
  width: 70px;
  height: 100%;
  background-color: #baa1ff;
  border: var(--border-size) solid #baa1ff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dateButton:hover {
  cursor: pointer;
}

.dateButton img {
  width: 30px;
  height: 100%;
}

.dateInput::-webkit-inner-spin-button,
.dateInput::-webkit-calendar-picker-indicator {
  display: none;
}

.times {
  display: flex;
  gap: 10px;
  height: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  /* gap: 3px; */
  height: 100%;
}

.fname {
  font-size: 14px;
  margin-left: 14px;
  font-weight: 250;
}
