.item {
  display: grid;
  grid-template-rows: 3fr 1fr;
  border-radius: 20px;
  border: 2px solid black;
  width: 230px;
  height: 300px;
  overflow: hidden;
}

.image {
  border-bottom: 2px solid black;
}

.name {
  padding: 10px 10px;
}

.title {
  overflow: hidden;
  font-size: 25px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.count {
  font-size: 18px;
}
