@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #e8e0ff;
}

.test {
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 25px;
}
