.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-height: 200px;
}

.booksBlock {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  row-gap: 20px;
}

@media (max-width: 1850px) {
  .booksBlock {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1500px) {
  .booksBlock {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .booksBlock {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .booksBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .booksBlock {
    grid-template-columns: 1fr; /* Одна колонка на маленьких экранах */
  }
}